<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid"> <!-- Ensure this wrapper is present for proper alignment -->
        <div class="logo">
            <h3>Ngudo Munyamela</h3>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- Use ms-auto for right-alignment -->
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHome">{{ ArrayList[0] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyAbout">{{ ArrayList[1] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyProjects">{{ ArrayList[2] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyContact">{{ ArrayList[3] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspySkills">{{ ArrayList[4] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scrollspyExperience">{{ ArrayList[5] }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
