.navbar {
    background-color:white;
    box-shadow: 0 4px 10pxrgba(250, 247, 247, 0.3);
  
    .navbar-brand {
        color: black;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s ease;

        &:hover {
            color: rgb(51, 116, 119);
        }
    }

    .nav-link {
        color: black;
        font-size: 18px;
        margin-left: 20px; /* Reduced spacing for closer links */
        transition: color 0.3s ease;

        &:hover,
        &.active {
            color: black;
        }
    }

    .navbar-collapse {
        justify-content: flex-start; /* Aligns the navbar links to the left */
    }

    .navbar-toggler {
        border-color: black;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}



