
    <!-- <nav class="navbar">
        <div class="logo">
            
            <img src="../../assets/WhatsApp Image 2024-08-14 at 11.26.17.jpeg"
            alt="">

            <div class="na"></div><h3>Ngudo Munyamela</h3>
        </div>
        <ul class="nav-links">
           <li><a href="#Home">{{ArrayList[0]}}</a></li>
            <li><a href="#About">{{ArrayList[1]}}</a></li>
            <li><a href="#Projects">{{ArrayList[2]}}</a></li>
            <li><a href="#Contact">{{ArrayList[3]}}</a></li>
        </ul>
    </nav> -->


    <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark">
        <div class="logo">
            
            <img src="../../assets/WhatsApp Image 2024-08-14 at 11.26.17.jpeg"
            alt="">

            <div class="na"></div><h3>Ngudo Munyamela</h3>
        </div>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">#Contact</a>
                </li>
            </ul>
        </div>
    </nav>
