
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Portfolio </title>
    <link rel="stylesheet" href="./scroll-feature.component.scss">
</head>
<body>
    <!-- Header Section -->
    <header>
        
    </header>

    <!-- About Me Section -->
    <section id="about" class="about-section">
        <h2>About Me</h2>
        <p>Hello! I’m Ngudo Erica Munyamela, am Web Disigner  . </p>
        <p>I responsible for creating the visual layout, user interface (UI), and overall aesthetic of websites and web applications</p>
        <P>Also focus on making sure websites are visually appealing, easy to navigate, and aligned with the brand's identity</P>
    </section>

    <!-- Vlogs Section -->
    <section id="vlogs" class="vlogs-section">
        <h2>Welcome to my portfolio</h2>
    <br>
        <div class="vlog-container">
            <!-- Vlog 1 -->
            <div class="project">
            
                <h3>My Project 1</h3>
                <!-- <h3>Web Disigner</h3> -->
<br>
                <li>User Controller: Login & Register</li>
                <li>Database Configuration</li>
                <li>User Routes: Login & Register</li> 
                <li>User Model: Login & Register</li>
                
                
            </div>
           <br>
           
            <div class="project">
            
                <h3>My Project 2</h3>
                <br>
                <li>Desktop and Mobile Responsive</li>
                <li>About Section</li>
                <li>Navbar/Hero Section</li> 
                <li>Projects Session</li>
                
            </div>
            <br>
            <div class="project">
            
                <h3>My Project 3</h3>
                <br>
                <li>Desktop and Mobile Responsive</li>
                <li>About Section</li>
                <li>Navbar/Hero Section</li> 
                <li>Projects Session</li>
                
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <h2>Contact Me</h2>
        <p>If you’d like to collaborate or just say hello, feel free to reach out!</p>
        <a href="ngudoerica@gmail.com">Email Me</a>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Ngudo Erica. All rights reserved.</p>
    </footer>
</body>
</html>

